<nav class="navbar navbar-expand-sm">
  <div class="container">
      <a href="index.html" class="navbar-brand">DELABS</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a href="index.html" class="nav-link">Home</a>
              </li>
              <li class="nav-item ">
                  <a href="about.html" class="nav-link">About Us</a>
              </li>
              <li class="nav-item ">
                  <a href="services.html" class="nav-link">Faqs</a>
              </li>
              <li class="nav-item ">
                <!-- login -->
                <button class="btn btn-primary">
                  <a class="nav-link nav-color ml-4" [routerLink]="['login']" routerLinkActive="active">Login</a>
                </button>
              </li>

              <li class="nav-item  ml-4">
                <!-- sign-up -->
                <button class="btn btn-primary">
                  <a class="nav-link nav-color ml-4" [routerLink]="['sign-up']" routerLinkActive="active" >Get Started</a>
                </button>
              </li>
          </ul>
      </div>
  </div>
</nav>
