body {
  overflow-x: hidden;
}

.header{
  width: 100%;
  height: 500px;
  background-image: url(../../../../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%; /* set to 100% for full overlay width */
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%,rgba(63, 62, 62, 0.5) 100%);
  z-index: -1;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding-right: 2rem !important;
}

.navbar-brand {
  color: white;
}

.nav-item .nav-color {
  color: white;
  padding: 2px;
}

.getStarted {
  color: white;
  font-size: 1rem;

}

.start{
  background-color: #FF7742;
  border: 1px solid #FF7742;
}


a{
  text-decoration: none;
}

.content {
  max-width: 52%;
  margin: 50px auto 0 auto;
  color: white;
  text-align: center;
}

#coloum-three{
  background-color: #F4F4F4;
}

.mintext{
  max-width: 52%;
  margin: auto;
  color: #A1A1A1;
}

.card-body{
  border-bottom: 5px solid #333CC1;

}

.firstcol {
  background-color: #333CC1;

  h2 {
    color: white;
    margin-left: 70px;
  }
  p {
    color: white;
    margin-left: 70px;
  }
  .btn{
    margin-left: 70px;
  }
}

.secondcol {
  color: black;
  height: 500px;
  padding-left: 0;
  padding-right: 0;
  background-image: url(../../../../assets/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  margin-top: 30px;
  width: 469px;
  font-size: 24px;
}

.top-1 {
  margin-top: 120px;
  font-size: 36px;
}
