<!-- <p>sign-up works! really</p> -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 px-0 mt-4">
      <img src="../../../../assets/Inn.png" alt="login image" class="login-img">
    </div>
    <div class="col-sm-6 login-section-wrapper px-5">
      <div class="login-wrapper mt-1">
        <h1 class="login-title">DELABS</h1>
        <h4 class="mt-4">Get started on managing your Association</h4>
        <form action="#!">
          <div class="form-group">
            <label for="email" class="mt-1">Association name</label>
            <input type="text" name="text" id="text" class="form-control" placeholder="Elebi community">
          </div>
          <div class="form-group">
            <label for="email" >Admin Full Name</label>
            <input type="text" name="text" id="text" class="form-control" placeholder="Johnathan Doewell">
          </div>
          <div class="form-group">
            <label for="email" class="mt-2">Email address</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="myemail@email.com">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="*************">
          </div>
          <div class="container-login100-form-btn">
            <!-- <button class="btn btn-primary">Log in</button> -->
            <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
					</div>
        </form>
        <p class="login-wrapper-footer-text">Already have an account? <a href="#!" class="text-reset"> Log in</a></p>
      </div>
    </div>
  </div>
</div>

